
# Allow root py files
!*.py

# Allow virtual environment
!/.venv/

# Allow database config file
!/config/db_config.json

# Ignore input directory completely
input/

# Workfiles: Ignore everything inside, but allow specific files/folders
workfiles/
!workfiles/b7_sources/
!workfiles/b7_sources/*.sql
!workfiles/b9_sources/
!workfiles/*.csv
!workfiles/*.json

# IDE settings
.idea/
.idea/.gitignore

# Ignore all JSON files by default
*.json

# Python cache
__pycache__/
db/**/__pycache__/

!/files/TablesFile.py
